<a href="https://colab.research.google.com/github/josepefg/analises-de-dados/blob/master/Secretaria%20da%20Seguran%C3%A7a%20P%C3%BAblica%20RS/Secretaria_da_Seguran%C3%A7a_P%C3%BAblica_RS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://www.linkedin.com/in/josepegerent"> <img border="0" alt="Linkedin" src="https://img.shields.io/badge/Autor-josepefg-red.svg"> </a>
# **Análise dos dados da Secretaria da Segurança Pública RS**  
A [Secretaria da Segurança Pública do Rio Grande do SUL](https://ssp.rs.gov.br/inicial/) disponibiliza dados estatísticos sobre a segurança do estado na página [Estatísticas](https://ssp.rs.gov.br/estatisticas). 

<center><img alt="Estado do Rio Grande do Sul" width="10%" src="https://www.estado.rs.gov.br/upload/recortes/201707/20075647_1210628_GDO.jpg"></center>

Nesse notebook foi feita a análise dos dados desde o ano anterior ao nascimento do meu primeiro filho (2014) até o ano anterior ao nascimento do meu segundo filho (2019).

# **Obtenção dos dados**  
Os dados foram obtidos da página [Estatística](https://ssp.rs.gov.br/estatisticas) da Secretaría de Segurança Pública do Rio Grande do Sul. Esses dados foram disponibilizados ano a ano, portanto deveremos primeiro baixa-los um por um para depois juntá-los em uma tabela única.

In [1]:
# importar os pacotes necessários
import warnings
warnings.filterwarnings("ignore", category=Warning)

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
%matplotlib inline

Para facilitar já baixei os dados dos anos que serão analisados e salvei no Github. Porém como cada arquivo tinha uma formatação diferente achei melhor tratá-los manualmente primeiro. O arquivo limpo e tratado foi salvo também no Github e será ele que irei utilizar nas análises.

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/josepefg/analises-de-dados/master/Secretaria%20da%20Seguran%C3%A7a%20P%C3%BAblica%20RS/Seguranca%20RS%202014-2019%20clean.csv', sep=',', encoding='latin-1')

In [6]:
df.head(20)

     Ano  Mês  ...  Vítimas de Latrocínio  Vítimas de Lesão Corp. Seg. Morte
0   2014  Jan  ...                     11                                  8
1   2014  Fev  ...                     20                                  3
2   2014  Mar  ...                     11                                  4
3   2014  Abr  ...                     12                                  2
4   2014  Mai  ...                     14                                  2
5   2014  Jun  ...                      8                                  3
6   2014  Jul  ...                      8                                  8
7   2014  Ago  ...                      9                                  4
8   2014  Set  ...                     12                                  5
9   2014  Out  ...                     15                                  5
10  2014  Nov  ...                     12                                  2
11  2014  Dez  ...                     17                                  5
12  2015  Jan  ...                      8                                  2
13  2015  Fev  ...                     12                                  1
14  2015  Mar  ...                      8                                  3
15  2015  Abr  ...                     10                                  5
16  2015  Mai  ...                     14                                  6
17  2015  Jun  ...                     16                                  3
18  2015  Jul  ...                     11                                  3
19  2015  Ago  ...                     15                                  1

[20 rows x 16 columns]